/** When your routing table is too long, you can split it into small modules **/

import Layout from '@/layout'

const goCodeGenRouter = {
  path: '/gocodegen',
  component: Layout,
  redirect: 'noRedirect',
  name: 'GoCodeGen',
  meta: {
    title: '生成代码',
    icon: 'guide'
  },
  children: [
// {VueRouterModelCodes}
  ]
}

export default goCodeGenRouter
